<div class="footer">
    <div class="grid-container">
        <div class="grid-item">
            <div class="first__section">
                <img src="/assets/img/logo.svg" alt="" class="footer__logo">
                <h6>
                    © 2020 Startupz. <br>
                    All rights reserved.
                </h6>
            </div>
            <div class="second__section">
                <p>Companies</p>
                <a href="#!">Tolq </a>
                <a href="#!">LegalSite</a>
                <a href="#!">Codekeeper</a>
                <a href="#!">Feedback Labs</a>
            </div>
        </div>
        <div class="grid-item">
            <div class="third__section">
                <p>Contact</p>
                <h6 class="space">World Trade Center - The Hague <br>
                    Prinses Margrietplantsoen 33 <br>
                    2595 AM The Hague <br>
                    The Netherlands</h6>
                <a href="mailto:#!">Send us an email </a>
            </div>
            <div class="fourth__section">
                <p>Companies</p>
                <a href="#!"><img src="/assets/img/twitter.svg" alt=""> </a>
                <a href="#!"><img src="/assets/img/Linkedin.svg" alt=""> </a>
                <a href="#!"><img src="/assets/img/instagram.svg" alt=""> </a>
            </div>
            <div class="mobile__section">
                <h6>© 2020 Startupz. <br>
                    All rights reserved.
                </h6>
            </div>
        </div>
    </div>
</div>